@model Properly.Web.ViewModels.Administration.Dashboard.IndexViewModel
@{
    this.ViewData["Title"] = "Admin Dashboard";
}

<section class="flat-section flat-service-v3">
    <div class="container">
        <div class="box-title text-center">
            <div class="text-subtitle text-primary" style="font-size: 3.8em;">@this.ViewData["Title"]</div>
            <h4 class="mt-4">Manage the Application</h4>
        </div>
        <div class="row">
            <!-- All Users -->
            <div class="box col-lg-4 col-md-6">
                <div class="box-service style-2" style="background-color:#b0e5ff;">
                    <div class="icon-box">
                        <i class="fa-regular fa-user" style="font-size: 2.8em;"></i>
                    </div>
                    <div class="content">
                        <h5 class="title">All Users</h5>
                        <p class="description">Manage all users, view their statuses, and perform administrative actions.</p>
                        <a asp-controller="User" asp-action="All" class="tf-btn size-1">Manage Users</a>
                    </div>
                </div>
            </div>

            <div class="box col-lg-4 col-md-6">
                <div class="box-service style-2" style="background-color:#b0e5ff;">
                    <div class="icon-box">
                        <i class="fa-solid fa-table" style="font-size: 2.8em;"></i>
                    </div>
                    <div class="content">
                        <h5 class="title">Property Types</h5>
                        <p class="description">Add, edit, or delete property types available for listings.</p>
                        <a asp-controller="PropertyTypes" asp-action="All" class="tf-btn size-1">Manage Property Types</a>
                    </div>
                </div>
            </div>

            <div class="box col-lg-4 col-md-6">
                <div class="box-service style-2" style="background-color:#b0e5ff;">
                    <div class="icon-box">
                        <i class="fa-solid fa-table" style="font-size: 2.8em;"></i>
                    </div>
                    <div class="content">
                        <h5 class="title">Features</h5>
                        <p class="description">Add, edit, or delete features available for listings.</p>
                        <a asp-controller="Features" asp-action="All" class="tf-btn size-1">Manage Features</a>
                    </div>
                </div>
            </div>

            <div class="box col-lg-4 col-md-6">
                <div class="mt-3 box-service style-2" style="background-color:#b0e5ff;">
                    <div class="icon-box">
                        <span class="icon icon-sale-home"></span>
                    </div>
                    <div class="content">
                        <h5 class="title">Listings For Sale</h5>
                        <p class="description">View, approve, or manage property listings that are available for sale.</p>
                        <a href="#" class="tf-btn size-1">Manage Sales Listings</a>
                    </div>
                </div>
            </div>

            <div class="box col-lg-4 col-md-6">
                <div class="mt-3 box-service style-2" style="background-color:#b0e5ff;">
                    <div class="icon-box">
                        <span class="icon icon-rent-home"></span>
                    </div>
                    <div class="content">
                        <h5 class="title">Listings For Rent</h5>
                        <p class="description">View, approve, or manage property listings that are available for rent.</p>
                        <a href="#" class="tf-btn size-1">Manage Rental Listings</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
