@{
    this.ViewData["Title"] = "Messages";
}

<div class="widget-box-2 wd-listing">
    <h6 class="title">Messages</h6>
    <div class="wrap-table">
        <div class="table-responsive">
            <table>
                <thead>
                <tr>
                    <th>Invoice ID</th>
                    <th>Package Name</th>
                    <th>Price ($)</th>
                    <th>Payment Method</th>
                    <th>Payment Status</th>
                    <th>Purchase Date</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <span class="text-center">
                            1524
                        </span>
                    </td>
                    <td>
                        <span>Free</span>
                    </td>
                    <td>
                        <span>$5050,00</span>
                    </td>
                    <td>
                        <span>Free Package</span>
                    </td>
                    <td>
                        <span>Paid</span>
                    </td>
                    <td>
                        <span>April 9, 2024</span>
                    </td>
                    <td class="box-action-print">
                        <a href="#" class="icon icon-eye"></a>
                    </td>
                </tr>
                <!-- col 2 -->
                <tr>
                    <td>
                        <span class="text-center">
                            1525
                        </span>
                    </td>
                    <td>
                        <span>Free</span>
                    </td>
                    <td>
                        <span>$5050,00</span>
                    </td>
                    <td>
                        <span>Free Package</span>
                    </td>
                    <td>
                        <span>Not Paid</span>
                    </td>
                    <td>
                        <span>February 18, 2024</span>
                    </td>
                    <td class="box-action-print">
                        <a href="#" class="icon icon-eye"></a>
                    </td>
                </tr>
                <!-- col 3 -->
                <tr>
                    <td>
                        <span class="text-center">
                            1526
                        </span>
                    </td>
                    <td>
                        <span>Free</span>
                    </td>
                    <td>
                        <span>$5050,00</span>
                    </td>
                    <td>
                        <span>Free Package</span>
                    </td>
                    <td>
                        <span>Paid</span>
                    </td>
                    <td>
                        <span>April 9, 2024</span>
                    </td>
                    <td class="box-action-print">
                        <a href="#" class="icon icon-eye"></a>
                    </td>
                </tr>
                <!-- col 4 -->

                </tbody>
            </table>
        </div>

        <ul class="wd-navigation">
            <li><a href="#" class="nav-item active">1</a></li>
            <li><a href="#" class="nav-item">2</a></li>
            <li><a href="#" class="nav-item">3</a></li>
            <li><a href="#" class="nav-item"><i class="icon icon-arr-r"></i></a></li>
        </ul>
    </div>
</div>

@section Styles
{
    <link rel="stylesheet" type="text/css" href="~/theme/scss/_dashboard.css" />
}