@{
    this.ViewData["Title"] = "My Favorites";
}

<section class="flat-title-page style-2" style="padding: 42px 0px 42px;">
    <div class="container">
        <ul class="breadcrumb">
            <li><a asp-controller="User" asp-action="Dashboard">Dashboard</a></li>
            <li>/ My Favorites</li>
        </ul>
        <h2 class="text-center">My Favorites</h2>
    </div>
</section>

@* ToDO : Display User Favorites *@

<section class="flat-section-v5 flat-recommended flat-recommended-v2">
    <div class="container">
        <div class="tab-content">
            <div class="tab-pane fade active show" id="gridLayout" role="tabpanel">
                <div class="row">
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="homeya-box">
                            <div class="archive-top">
                                <a href="property-details-v1.html" class="images-group">
                                    <div class="images-style">
                                        <img src="https://res.cloudinary.com/dw1d9xffg/image/upload/v1715979777/Properly/97e3b3ef-187c-443e-9cfa-14d4be212598.webp" alt="img">
                                    </div>
                                    <div class="top">
                                        <ul class="d-flex gap-8">

                                            <li class="flag-tag style-1">For Sale</li>
                                        </ul>
                                        <ul class="d-flex gap-4">

                                            <li class="box-icon w-32">
                                                <span class="icon icon-heart"></span>
                                            </li>

                                        </ul>
                                    </div>
                                    <div class="bottom">
                                        <span class="flag-tag style-2">Villa</span>
                                    </div>
                                </a>
                                <div class="content">
                                    <div class="h7 text-capitalize fw-7"><a href="property-details-v1.html" class="link">Coastal Serenity Cottage</a></div>
                                    <div class="desc"><i class="fs-16 icon icon-mapPin"></i><p>21 Hillside Drive, Beverly Hills, California</p> </div>
                                    <ul class="meta-list">
                                        <li class="item">
                                            <i class="icon icon-bed"></i>
                                            <span>4</span>
                                        </li>
                                        <li class="item">
                                            <i class="icon icon-bathtub"></i>
                                            <span>2</span>
                                        </li>
                                        <li class="item">
                                            <i class="icon icon-ruler"></i>
                                            <span>600 SqFT</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="archive-bottom d-flex justify-content-between align-items-center">
                                <div class="d-flex gap-8 align-items-center">

                                    <span>Kathryn Murphy</span>
                                </div>
                                <div class="d-flex align-items-center">
                                    <h6>$2050,00</h6>
                                    <span class="text-variant-1">/SqFT</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="homeya-box">
                            <div class="archive-top">
                                <a href="property-details-v1.html" class="images-group">
                                    <div class="images-style">
                                        <img src="https://res.cloudinary.com/dw1d9xffg/image/upload/v1715979777/Properly/97e3b3ef-187c-443e-9cfa-14d4be212598.webp" alt="img">
                                    </div>
                                    <div class="top">
                                        <ul class="d-flex gap-8">

                                            <li class="flag-tag style-1">For Sale</li>
                                        </ul>
                                        <ul class="d-flex gap-4">

                                            <li class="box-icon w-32">
                                                <span class="icon icon-heart"></span>
                                            </li>

                                        </ul>
                                    </div>
                                    <div class="bottom">
                                        <span class="flag-tag style-2">House</span>
                                    </div>
                                </a>
                                <div class="content">
                                    <div class="h7 text-capitalize fw-7"><a href="property-details-v1.html" class="link">Lakeview Haven, Lake Tahoe</a></div>
                                    <div class="desc"><i class="fs-16 icon icon-mapPin"></i><p>8 Broadway, Brooklyn, New York</p> </div>
                                    <ul class="meta-list">
                                        <li class="item">
                                            <i class="icon icon-bed"></i>
                                            <span>2</span>
                                        </li>
                                        <li class="item">
                                            <i class="icon icon-bathtub"></i>
                                            <span>2</span>
                                        </li>
                                        <li class="item">
                                            <i class="icon icon-ruler"></i>
                                            <span>600 SqFT</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="archive-bottom d-flex justify-content-between align-items-center">
                                <div class="d-flex gap-8 align-items-center">

                                    <span>Floyd Miles</span>
                                </div>
                                <div class="d-flex align-items-center">
                                    <h6>$250,00</h6>
                                    <span class="text-variant-1">/month</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>