@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Email Confirmation";
}

<section class="flat-title-page style-2">
    <div class="container">
        <h2 class="text-center">@ViewData["Title"]</h2>
        <partial name="_StatusMessage" model="Model.StatusMessage" />
    </div>
</section>

