@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}
<div>
    <section class="flat-title-page style-2">
        <div class="container">
            <ul class="breadcrumb">
                <li><a asp-area="Identity" asp-page="/Account/Manage/Index">Account </a></li>
                <li>/ Manage Account</li>
            </ul>
            <h2 class="text-center">Manage Account</h2>
        </div>
    </section>
    <div class="row">
        <partial name="_ManageNav" />
        <div class="col-md-12">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
