@using Properly.Common
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <!-- font -->
    <link rel="stylesheet" href="~/theme/fonts/fonts.css">
    <!-- Icons -->
    <link rel="stylesheet" href="~/theme/fonts/font-icons.css">
    <link rel="stylesheet" href="~/theme/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/theme/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="~/theme/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="~/theme/css/animate.css">
    <link rel="stylesheet" type="text/css" href="~/theme/css/styles.css"/>
    <script src="https://kit.fontawesome.com/c147f39ea2.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    @await this.RenderSectionAsync("Styles", required: false)
</head>
<body class="body counter-scroll">
    <partial name="_PreloadPartial"/>
    <header class="main-header fixed-header">    
        <partial name="_NavigationPartial"/>
    </header>
    
    <div class="container-fluid">
        <partial name="_CookieConsentPartial"/>
        <main role="main" class="pb-3">
            @this.RenderBody()
        </main>
    </div>

    <footer class="footer">
        <partial name="_FooterPartial"/>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/userStatusTracker.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <!-- Theme Javascript -->
    <script type="text/javascript" src="~/theme/js/bootstrap.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/theme/js/swiper-bundle.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/theme/js/carousel.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/theme/js/plugin.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/theme/js/jquery.nice-select.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/theme/js/rangle-slider.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/theme/js/countto.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/theme/js/shortcodes.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/theme/js/main.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/theme/js/jquery.fancybox.js" asp-append-version="true"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
