@using Microsoft.AspNetCore.Identity
@using Properly.Data.Models.User
@inject SignInManager<ApplicationUser> SignInManager

<!-- Header Lower -->
<div class="header-lower">
    <div class="row">
        <div class="col-lg-12">
            <div class="inner-container d-flex justify-content-between align-items-center">
                <!-- Logo Box -->
                <div class="logo-box">
                    <div class="logo"><a asp-controller="Home" asp-action="Index"><img src="~/theme/images/logo/icons8-real-estate-80.png" alt="logo" width="64" height="64"></a></div>
                </div>
                <div class="nav-outer">
                    <!-- Main Menu -->
                    <nav class="main-menu show navbar-expand-md">
                        <div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">
                            <ul class="navigation clearfix">
                                <li class="dropdown2">
                                    <a href="#">Home</a>
                                    <ul>
                                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                                        <li><a asp-controller="Home" asp-action="About">About us</a></li>
                                        <li><a>Contact Us</a></li>
                                        <li><a>Privacy Policy</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown2">
                                    <a href="#">Properties</a>
                                    <ul>
                                        <li><a asp-area="" asp-controller="Property" asp-action="Buy">Buy a property</a></li>
                                        <li><a asp-area="" asp-controller="Property" asp-action="Rent">Rent a property</a></li>
                                        <li><a asp-area="" asp-controller="Property" asp-action="Sell">Sell a property</a></li>
                                    </ul>
                                </li>
                                @if (this.SignInManager.IsSignedIn(this.User))
                                {
                                    <li class="dropdown2">
                                        <a href="#">Dashboard</a>
                                        <ul>
                                            <li><a asp-area="" asp-controller="User" asp-action="Dashboard">Dashboard</a></li>
                                            <li><a asp-area="" asp-controller="Property" asp-action="Sell">Add Property</a></li>
                                            <li><a asp-area="" asp-controller="User" asp-action="Messages">Messages</a></li>
                                            <li><a>My Favorites</a></li>
                                        </ul>
                                    </li>
                                }
                            </ul>
                        </div>
                    </nav>
                    <!-- Main Menu End-->
                </div>
                <div class="header-account">
                    <div class="register">
                        <partial name="_LoginPartial"/>
                    </div>
                    <div class="flat-bt-top">
                        <a class="tf-btn primary" asp-controller="Property" asp-action="Sell">Submit Property</a>
                    </div>
                </div>

                <div class="mobile-nav-toggler mobile-button"><span></span></div>

            </div>
        </div>
    </div>
</div>
<!-- End Header Lower -->
<!-- Mobile Menu  -->
<div class="close-btn"><span class="icon flaticon-cancel-1"></span></div>
<div class="mobile-menu">
    <div class="menu-backdrop"></div>
    <nav class="menu-box">
        <div class="nav-logo"><a asp-controller="Home" asp-action="Index"><img src="~/theme/images/logo/icons8-real-estate-80.png" alt="nav-logo" width="64" height="64"></a></div>
        <div class="bottom-canvas">
            <div class="login-box flex align-items-center">
                <a href="#modalLogin" data-bs-toggle="modal">Login</a>
                <span>/</span>
                <a href="#modalRegister" data-bs-toggle="modal">Register</a>
            </div>
            <div class="menu-outer"></div>
            <div class="button-mobi-sell">
                <a class="tf-btn primary" asp-controller="Property" asp-action="Sell">Submit Property</a>
            </div>
            <div class="mobi-icon-box">
                <div class="box d-flex align-items-center">
                    <span class="icon icon-phone2"></span>
                    <div>1-333-222-6666</div>
                </div>
                <div class="box d-flex align-items-center">
                    <span class="icon icon-mail"></span>
                    <div>alexparvanov21@yahoo.com</div>
                </div>
            </div>
        </div>
    </nav>
</div>
<!-- End Mobile Menu -->