@using Microsoft.AspNetCore.Identity
@using Properly.Data.Models.User
@inject SignInManager<ApplicationUser> SignInManager

@section Styles {
    <link rel="stylesheet" href="~/css/Home/index.css"/>
}

<nav class="navbar">
    <div class="nav-container">
        <div class="logo">
            <a href="/"><img src="~/Images/logo.png" alt=""></a>
        </div>

        <ul class="links">
            <li><a asp-area="" asp-controller="Property" asp-action="Buy">Buy</a></li>
            <!-- Sell only if the user is logged in : -->
            @if (this.SignInManager.IsSignedIn(this.User))
            {
                <li><a asp-area="" asp-controller="Property" asp-action="Sell">Sell</a></li>
            }

            <li><a asp-area="" asp-controller="Property" asp-action="Rent">Rent</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="About">About us</a></li>
        </ul>

        <partial name="_LoginPartial"/>
    </div>
</nav>