@model Properly.Web.ViewModels.Buy.BuyViewModel

@{
    string formAction = (string)ViewData["Action"];
}

<div class="col-xl-4 col-lg-5">
    <div class="widget-sidebar fixed-sidebar">
        <div class="flat-tab flat-tab-form widget-filter-search widget-box bg-surface">
            <div class="h7 title d-flex justify-content-center fw-7">Search</div>
            <div class="tab-content">
                <div class="tab-pane fade active show" role="tabpanel">
                    <div class="form-sl">
                        <form asp-controller="Property" asp-action="@formAction" method="get" id="side-search-from">
                            <div class="wd-filter-select">
                                <div class="inner-group inner-filter">
                                    <div class="form-style">
                                        <label class="title-select">Keyword</label>
                                        <input type="text" class="form-control" asp-for="Keyword" placeholder="Enter an Address, City, Country or ZipCode" name="Keyword">
                                    </div>
                                    <div class="form-style">
                                        <label class="title-select">Type</label>
                                        <div class="group-select">
                                            <select class="nice-select" asp-for="PropertyType" id="propertyType" tabindex="0">
                                                <option value="">Select Property Type</option>
                                                @foreach (var propertyType in Model.PropertyTypes)
                                                {
                                                    <option value="@propertyType.Id">@propertyType.Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-style">
                                        <label class="title-select">Bathrooms</label>
                                        <input type="text" class="form-control" asp-for="Bathrooms" placeholder="Enter a number" name="Bathrooms" />
                                    </div>
                                    <div class="form-style">
                                        <label class="title-select">Bedrooms</label>
                                        <input type="text" class="form-control" asp-for="Bedrooms" placeholder="Enter a number" name="Bedrooms" />
                                    </div>
                                    <div class="form-style">
                                        <label class="title-select">Price</label>
                                        <div class="row">
                                            <div class="col">
                                                <input type="text" id="minPrice" asp-for="MinPrice" class="form-control" placeholder="Minimum" name="MinPrice" />
                                            </div>
                                            <div class="col">
                                                <input type="text" id="maxPrice" asp-for="MaxPrice" class="form-control" placeholder="Maximum" name="MaxPrice" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-style">
                                        <input type="submit" class="tf-btn primary" value="Find Properties">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
