@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>About us page.</h1>
<p>Sed ut aliquam magna. Curabitur tincidunt molestie iaculis. Sed lacinia massa massa, ac sollicitudin nisl consectetur nec. Morbi vel facilisis sapien. Quisque ultrices tristique felis, id sagittis justo sollicitudin eu. Donec aliquam leo ac nibh aliquam, vitae commodo lacus consequat. Nullam et magna justo. Vivamus congue eget tortor et pulvinar.</p>
