@using Properly.Common
@model Properly.Web.ViewModels.Home.IndexViewModel;
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
</div>

<section class="main-section">
    <form class="d-flex justify-content-center">
        <div class="form-group">
            <div class="input-group">
                <input placeholder="Enter an address, city or zipcode" type="text" class="form-control" style="width: 600px;">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </form>
</section>

<section class="homes-foryou">
    <h1 class="">Homes for you</h1>
    <div class="row">
        @foreach (var listing in Model.ListingModels)
        {
            <div class="col-md-4">
                <div class="card mb-3" style="width: 24rem;">
                    <img class="card-img-top" src="@listing.PhotoUrl" alt="Property image">
                    <div class="card-body">
                        <h2 class="card-text"><strong>$@listing.Price</strong></h2>
                        <p class="card-text">@listing.Address</p>
                    </div>
                </div>       
            </div>
        }
    </div>
</section>
