@using Properly.Common
@model Properly.Web.ViewModels.Home.IndexViewModel;
@{
    this.ViewData["Title"] = "Home Page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Home/index.css" />
}

<section class="search-section">
    <div class="section-body">
        <h1>Agents. Tours. Loans. Homes.</h1>
        <div class="search-wrap">
            <form class="form">
                <input type="text" class="searchInput" placeholder="Enter city, address or a zipcode">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
    </div>
</section>

<section class="homes-foryou">
    <h1>Homes for you </h1>
    <div class="tcd">
        <div class="listing-container">
            <img src="~/Images/listing.png" alt="">
            <div class="listing-body">
                <h2><strong>2,000,000</strong></h2>
                <p>5231 sqft. | 2 ba. | 3 be.</p>
                <p>813 Chalfonte Dr, Alexandria, VA 22305, USA</p>
            </div>
        </div>
        <div class="listing-container">
            <img src="~/Images/listing.png" alt="">
            <div class="listing-body">
                <h2><strong>2,000,000</strong></h2>
                <p>5231 sqft. | 2 ba. | 3 be.</p>
                <p>813 Chalfonte Dr, Alexandria, VA 22305, USA</p>
            </div>
        </div>
        <div class="listing-container">
            <img src="~/Images/listing.png" alt="">
            <div class="listing-body">
                <h2><strong>2,000,000</strong></h2>
                <p>5231 sqft. | 2 ba. | 3 be.</p>
                <p>813 Chalfonte Dr, Alexandria, VA 22305, USA</p>
            </div>
        </div>
    </div>
</section>

<section class="route-section">
    <div class="tcd">
        <div class="route-box">
            <img src="~/Images/favicon.png" alt="" class="route-image">
            <h2>Buy a home</h2>
            <p>Find your place with an immersive photo experience and the most listings, including things you won’t find anywhere else.</p>
            <button class="route-btn" type="submit">See options</button>
        </div>
        <div class="route-box">
            <img src="~/Images/favicon.png" alt="" class="route-image">
            <h2>Buy a home</h2>
            <p>Find your place with an immersive photo experience and the most listings, including things you won’t find anywhere else.</p>
            <button class="route-btn" type="submit">See options</button>
        </div>
        <div class="route-box">
            <img src="~/Images/favicon.png" alt="" class="route-image">
            <h2>Buy a home</h2>
            <p>Find your place with an immersive photo experience and the most listings, including things you won’t find anywhere else.</p>
            <button class="route-btn" type="submit">See options</button>
        </div>
    </div>
</section>
